<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/components/header/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Eve&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <i class="fas fa-bars sidebar-icon" id="bar"></i>
                <div class="nav-logo"><a href="/index.html"><img src="/assets/Home_Images/slideshow/logo.png" alt=""></a></div>
            </div>
            <div class="navbar-right">
                <!-- <input type="text" class="search-bar" placeholder="Search...">
                <i class="fas fa-search search-icon" id="search-icon"></i> -->
                <div class="services-dropdown">
                    <button class="Services_content">Our Services</button>
                    <div class="services-dropdown-content">
                        <a href="/pages/packages/PackageCategory.html">Packages</a>
                        <a href="/pages/events/eventcategory.html">Events</a>
                    </div>
                </div>


                <div class="famous-Events">
                    <button class="Famous_events">Famous Events</button>
                    <div class="events-dropdown-content">
                        <a href="/pages/eventlisting/eventListing.html?category=makeup">Makeup</a>
                        <a href="/pages/eventlisting/eventListing.html?category=venues">Venues</a>
                    </div>
                </div>

                <div class="famous-Packages">
                    <button class="famous_Packages">Famous Packages</button>
                    <div class="packages-dropdown-content">
                        <a href="/pages/packageListing/PackageListing.html?category=Packages/wedding-package">Wedding</a>
                        <a href="/pages/packageListing/PackageListing.html?category=Packages/birthday-package">BirthDay</a>
                    </div>
                </div>
              
                <!-- <div class="famous-Events">
                    <button class="Famous_events">About</button>
                </div>
                <div class="famous-Events">
                    <button class="Famous_events">Contact Us</button> -->
                </div>
                <!-- <i class="fas fa-user-circle profile-icon"></i> -->
            </div>
        </nav>
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">&times;</a>
            <a href="/index.html">Home</a>
            <a href="/pages/packages/PackageCategory.html">Packages</a>
            <a href="/pages/events/eventcategory.html">Events</a>
            <a href="#">About Us</a>
            <a href="#">Contact</a>
            <a href="#">FAQ</a>
            <a href="#">Terms</a>
            <a href="#">Privacy Policy</a>
        </div>
    </header>

<script type="module" src="/components/header/header.js"></script>
</body>
</html>
