:root {
    --primary-color: #ff6f61;
    --secondary-color: #e56357;
    --accent-color: #ff8b80;
    --background-color: #f4f4f4;
    --card-background: #ffffff;
    --text-color: #333333;
    --subtext-color: #666666;
    --border-color: #e0e0e0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 1080px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
}

input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="file"] {
    padding: 6px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: var(--secondary-color);
}
#eventsDisplayContainer{
    display: flex;
    margin-left: 0.3rem;
    /* align-items: center; */
    /* justify-content: space-around; */
    gap: 33px;
    flex-wrap: wrap;
}
.event-group {
    margin-top: 20px;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

