@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff6f61;
    --main-color: #ff8b80;
    --secondary-color: #e56357;
    --white: #ffffff;
    --black: #000000;
    --light-gray: #f2f2f2;
    --gray: #ccc;
    --border-radius: 8px;
    --cart-color: #f9f9f9;
    --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#listingTop {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: var(--white);
}


.packageCategories {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-section {
    display: flex;
    justify-content: center;
    margin-bottom:3rem;
    margin-top: 1rem;

}
.intro-text {
    max-width: 800px;
}

.intro-text h1 {
    margin: 0;
    font-size: 1.7rem;
    color: var(--main-color);
    border-right: .15em solid var(--primary-color); 
    white-space: nowrap; 
    overflow: hidden; 
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}



/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The caret blinking effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--white); }
}


.container {
    width: 80%;
    margin: 40px auto;
    margin-bottom: 30px;
}


.packageContainer {
    margin: auto;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.packageListings {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.packageCard {
    background: var(--white);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    width: 1000px; 
    height: 200px;
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.packageCardMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
}

.packageCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.packageCard img {
    width: 40%;
    height: 200px;
    object-fit: cover;
}

.packageCardBody {
    padding: 20px;
    text-align: left;
    flex: 1; 
}

.packageCardBody h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: var(--black);
}

.packageCardBody p {
    color: #666;
    font-size: 1em;
    line-height: 1.6;
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-height: 4.8em; 
}

.packageCardFooter {
    background: var(--primary-color);
    color: var(--white);
    padding: 15px;
    font-size: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 0px 0p;
}

.packageCardFooter span {
    font-weight: bold;
}

/* Filter form styles */
#filterForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.6rem;
    padding-bottom: 10px;
    margin-top: 2rem;
    /* margin-left: 1rem; */
    margin-bottom: 2rem;
}
.filterDiv{
display:flex;
justify-content: center;
align-items: center;
gap: 1rem;
}

select {
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray);
    background-color: var(--cart-color);
    color: var(--black);
    min-width: 150px;
    box-shadow: var(--box-shadow);
}

button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--main-color);
}

#results {
    margin-top: 20px;
}

#results ul {
    list-style: none;
    padding: 0;
}

#results li {
    margin-bottom: 5px;
    padding: 10px;
    background-color: var(--light-gray);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}


/* loader styles */
#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #ff6f61; /* Primary color */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none; /* Hidden by default */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
