@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
    --primary-color: #ff6f61;
    --main-color:#ff8b80;
    --secondary-color: #e56357;
    --white: #ffffff;
    --black: #000000;
}

*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
  a {
    color: #fff;
    text-decoration: none;
  }
  .pg-footer {
   margin-top: 2rem;
    width: 100%;
  }
  
  
  .footer {
    background-color: var(--main-color);
    color: var(--white);
    width: 100%;
   

  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      width: 100%;
  }
  .footer-wave-path {
      fill: var(--white);
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      height: 250px;
      padding: 10px 10px 45px;
      position: relative;
      display: flex;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: var(--white);
  }
  
  .footer-content-column ul li a {
    color: var(--white);
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: var(--white);
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0px;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: var(--white);
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color:var(--primary-color);
      color:var(--white);
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color:var(--white);
      color:var(--primary-color);
      border-radius: 21px;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: var(--white);
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: var(--white);
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: var(--white);
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: var(--primary-color);
  }
  
  .footer-social-link.linkedin {
    height: 10px;
    left: 0px;
    top: 9px;
    width: 50px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: var(--white);
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
    height: 28px;
    left: 60px;
    top: 3px;
    width: 52px;
  }
  
  .footer-social-link.youtube {
    height: 24px;
    left: 119.4px;
    top: 8px;
    width: 52px;
  }
  
  .footer-social-link.github {
    height: 34px;
    left: 174px;
    top: 9px;
    width: 50px;
  }
  
  .footer-copyright {
      background-color: var(--primary-color);
      color:var(--white);
      padding: 15px 30px;
      text-align: center;
      
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color:var(--white);
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color:var(--white);
      text-decoration: none;
      font-size: 16px;
  }
  
  .footer-logo{
    margin-top: 1.9rem;
  }
  
  
#footerCompany{
    margin-left: 5rem;
}