@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #ff6f61;
    --main-color:#ff8b80;
    --secondary-color: #e56357;
    --scrolltab:var(--primary-color);
    --scroll:#fcc4bf;
    --grey:#717070;
    --white: #ffffff;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
#navbarHeader {
    position: sticky;
    top: 0;
    z-index: 1;
}


body {
    width: 100%;
    background-color: var(--white);
}

.eventHome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    flex-direction: column;
}

.slideshow-container {
    position: relative;
    margin: auto;
    margin-top: 5px;
}

.mySlides {
    display: none;
    position: relative;
    height: 600px;
}

.tagline {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(6, 6, 6);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 10px 20px;
    border-radius: 5px;
}

.dots-container {
    position: absolute;
    bottom: -13%;
    left: 50%;
    transform: translateX(-50%);
    color:var(--grey);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.5);      */
    padding: 10px 20px;
    border-radius: 5px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color:var(--grey); 
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}




.homePageTopOrganiserTitle, .homePageTopPackagesTitle, .homePageTopEventsTitle {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5rem;  
    color: var(--primary-color);
}

.homePageTopOrganisersMain, .homePageTopPackagesMain, .homePageTopEventsMain {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 93%;
    height: 300px;
    position: relative;
    margin: auto;
    margin-top: 2rem;
    background-color:var(--white);
    /* border-radius: 30px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color:var(--white);
    color: var(--black);
}

.homePageRightDiv, .homePagePackagesRightDiv,.homePageEventsRightDiv {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* .homePageLeftDivImages, .homePagePackagesLeftDivImages, .homePageEventsLeftDivImages {
    border-radius: 30px 0px 0px 30px;

}

.homePagePackagesLeftDivImages{
    border-radius: 0px 30px 30px 0px;
} */

.homePageRightdescription, .homePagePackagesRightdescription, .homePageEventsRightdescription {
    width: 550px;
    font-weight:400;
    font-size: 1.1em;
    line-height: 1.6;
    margin: 20px;
    
}

.homePageLeftDivImages, .homePagePackagesLeftDivImages, .homePageEventsLeftDivImages {
    width: 600px;
    padding: 1px 1px 1px 1px;
    height: 300px;
    object-fit: cover;
    border: solid 4px var(--primary-color);
}
/* .homePageTopOrganisersMain, .homePageTopEventsMain{
    background-color: var(--white);
    color: var(--scroll);
} 

.homePageTopPackagesMain{
    background-color:var(--primary-color);
    color: var(--white);
} */


/* testimonial */
.testimonial-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 93%;
    height: 300px;
    position: relative;
    margin: auto;
    margin-top: 2rem;
    /* background-color:var(--scroll); */
    border-radius: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.testimonial-container1 {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 200px;
    height: 230px;
    background-color: var(--white);
    width: 30%;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.testimonial-arrow1 {
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    color: var(--primary-color);
    margin: 0 10px;
}

.testimonial-content {
    text-align: center;
    margin: 0 20px;
    width: 100%;
    transition: transform 0.3s ease;
}

.testimonial-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-content h3 {
    margin: 10px 0;
    color: var(--primary-color);
}

.testimonial-content p {
    color: gray;

}



/*------------------------------------------------ scroll bar code */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    background-color: var(--primary-color);
  }
  ::-webkit-scrollbar-track {
    background-color:var(--scroll)
  }
  ::-webkit-scrollbar-thumb {
    background-color:var(--scrolltab);
    border-radius: 4px;
  }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
 
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


